@import "@conduit/ui/styles/site.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body);
  color: var(--text-primary);
  background-color: var(--background);
}
